html {
    /* font-size: clamp(12px, calc(1.5vw), 40px); */
    font-size: 20px;

    /* Palette */
    --background-color: rgb(255, 255, 255);
    --main-color: #3f3f3f;
    --sub-color: #727272;
    --accent-color: rgb(240, 185, 44);
    --secondary-color: rgb(240, 152, 44);

    --content-width: 1000px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;

    color: var(--main-color);
    background-color: var(--background-color);
}

::selection {
    color: var(--main-color);
    background: var(--accent-color);
    border-radius: 100%;
}

a {
    color: rgb(240, 185, 44);
    text-decoration: none;
}

a:visited {
    color: rgb(240, 152, 44);
}

.button-cto {
    display: inline-block;
    background: var(--accent-color);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 3px black;

    transition: opacity .2s, transform .2s, box-shadow .2s;
}

.button-cto:hover {
    opacity: .9;
    box-shadow: 0 5px 4px black;
    transform: translate(0, -5px);
}


header {
    min-height: min(600px, 70vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}

header h1, header img{
    display: inline-block;
    vertical-align: middle;
}

.text-anim-t {
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.68,-0.55,.38,1.18);
    animation-fill-mode: forwards;
}

#header-logo {
    width: 3em;
    margin: 0;
    margin-left: -1em;

    transform: translateX(-20em);

    animation-name: appear-left;
}

header h1 {
    font-size: 4.5rem;
    background: linear-gradient(
        to left,
        var(--background-color) 0%,
        var(--main-color) 50%
    );
    margin: 0;

    color: #fff0;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-position: -20em 0;
    background-repeat: no-repeat;

    animation-name: fade-left;
}

main {
    max-width: var(--content-width);
    margin: 0 auto;
}

main section {
    border-bottom: 1px solid gray;
}

section {
    padding: 30px 10px;
    margin: 30px auto;
}

section h2 {
    text-align: center;
    margin-bottom: 50px;
}

#brands {
    color: var(--secondary-color);
    font-size: 1.3rem;
}

#brands .brand-logos {
    display: flex;
    justify-content: space-around;
}

#brands img {
    color: white;
    width: 200px;
    height: 200px;
    display: block;
}

#products img {
    max-width: 100%;
}

#members ul {
    margin: 0;
    padding: 0 100px;
}

.person-info {
    margin-bottom: 20px;
    list-style: none;
    min-height: 100px;
}

.person-info>* {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.person-face {
    width: 100px;
    border-radius: 50%;
}

.person-info:nth-child(2n+1)
{
    text-align: right;
    direction: rtl;
}

.person-name {
    color: var(--secondary-color);
}

#details {
    text-align: center;
}

#goals-container div {
    display: inline-block;
    max-width: calc(var(--content-width)/2 - 50px);
    vertical-align: top;
    text-align: left;
    font-size: 0.8rem;
}

#goals-container .vision {
    text-align: right;
}

#join-us img {
    width: 3em;
    vertical-align: middle;
    margin: 0 10px;
    filter: invert(60%);
}

#join-us {
    padding-left: 200px;
    padding-right: 200px;
}

#join-us .join-panel {
    display: flex;
    color: var(--secondary-color);
    margin: 30px auto;
}

.join-panel .join-us-txt {
    filter: brightness(90%);
    max-width: 150px;
}

#join-us .join-panel:nth-child(odd){
    flex-direction: row-reverse;
}

#join-us-cto {
    color: var(--main-color);
    display: block;
    width: 9em;
    margin: 0 auto;
    margin-top: 10px;
}

#fb-container {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    max-width: calc(var(--content-width) + 100px);
    margin: 0 auto;
    min-height: 400px;
}

footer section {
    margin: 0;
}

footer label {
    font-size: .6em;
    display: block;
    margin: 20px 0 5px 0;
}

footer input, footer textarea {
    border: none;
    background: #eee;
    color: black;
    border-radius: 2px;
    font-size: .8em;
    font-family: unset;
    outline: none;
    padding: 5px;
}

footer textarea {
    width: 90%;
    height: 200px;
    resize: none;
}

footer .button-cto {
    margin-top: 10px;
    font-size: .8em;
    color: rgb(92, 42, 42);
}

@keyframes appear-left {
    0% {
        transform: translateX(-20em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-left {
    0% {
        background-position-x: -20em;
    }

    100% {
        background-position-x: 0;
    }
}

@media screen and (max-width: 730px) {
    html {
        font-size: 16px;
    }

    main {
        margin: 0;
    }

    header {
        min-height: 400px;
    }

    #main-header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #main-header * {
        animation-name: none;
        transform: translate(0);
        margin: 0;
    }

    #main-header img {
        margin-bottom: 20px;
    }

    #main-header h1 {
        color: #464646;
        font-size: 1.6em;
    }

    #brands .brand-logos {
        display: block;
    }

    #brands .brand-logos img {
        width: 80vw;
        height: 80vw;
        max-width: 500px;
        margin: 20px auto;
    }

    #members ul {
        padding: 0 30px;
    }

    #goals-container {
        font-size: 1rem;
    }

    #goals-container div {
        margin: 10px 0;
    }

    #join-us {
        padding-left: 40px;
        padding-right: 40px;
    }

    footer {
        display: block;
    }
}